@model IEnumerable<Seguros.DAL.Models.Client>
<div class="jumbotron">
    <h1>Consultar Seguro</h1>
</div>
<div class="row">
    <table class="table table-dark">
        <tr>
            <th scope="col">
                Nombre
            </th>
            <th scope="col">
                Edad
            </th>
            
        </tr>
        @foreach (var client in Model)
        {
        <tr>
            <td scope="row">
                @client.Name;
            </td>
            <td>
                @client.Age
            </td>
        </tr>
        }
    </table>
    <p>

    </p>
</div>
