@model Seguros.DAL.Models.Insurance
<div class="jumbotron">
    <h1>Consultar Seguro</h1>
</div>
<div class="row">
    <fieldset>
        <legend>Insurance</legend>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Name)
        </div>

    </fieldset>
    <p>

    </p>
</div>
